div.wrapper  
- if (success_msg)
    each msg, i in success_msg
        .alert.alert-success #{msg}
- if (message) 
    each msg, i in message
        .alert.alert-secondary #{msg}
-if (error_msg)
    each msg, i in error_msg
        .alert.alert-success #{msg}
-if (erro != '')
    each msg, i in error
        .alert.alert-success #{msg}