extend authLayout
block content
    div.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
      h1.display-4 Team 
      p.lead Quickly build an  pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.
    .container
      .card-deck.mb-3.text-center
        .card.mb-4.box-shadow
          .card-header
            h4.my-0.font-weight-normal Retro
          .card-body
            p Good, bad, actions?
        .card.mb-4.box-shadow
          .card-header
            h4.my-0.font-weight-normal Planning
          .card-body
            p Do you know scrum poker
        .card.mb-4.box-shadow
          .card-header
            h4.my-0.font-weight-normal Online users
          .card-body
            a.btn.btn-primary(href='/users/online') Who is online!

